* {
  margin: 0;
  text-align: center;
}

body {
  background-color: #252525;
  font-size: 30px;
}

h1 {
  margin-bottom: 20px;
  background-color: #519548;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  margin: 3px;
  width: 40px;
  height: 40px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
}

#board-size {
  text-align: center;
  padding: 10px;
  width: 200px;
}

#clear-board {
  padding: 10px;
}

#generate-board {
  padding: 10px;
}
