* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #252525;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  background-color: #519548;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  margin: 3px;
  width: 40px;
  height: 40px;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid;
  margin: 0;
}

#pixel-board {
  margin-top: 20px;
  margin-left: 42%;
  margin-right: 42%;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#board-size {
  width: 100px;
  text-align: center;
}
