* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #252525;
  font-size: 30px;
}

h1 {
  margin-bottom: 20px;
  background-color: #519548;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  margin: 3px;
  width: 40px;
  height: 40px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#board-size {
  width: 100px;
  text-align: center;
}

#clear-board {
  padding: 10px;
  /* margin: 10px; */
}

#board-size {
  padding: 10px;
  width: 200px;
}

#generate-board {
  padding: 10px;
  /* margin: 10px; */
}